body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height: 90vh;
}

.titulo {
  color: #255000;
  text-align: center;
  margin: 40px 5px 5px 5px;
}

.contenido{
  margin: 5px;
}

.imagen {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente (opcional, si lo necesitas) */
  width: 100%;             /* Ocupa todo el ancho disponible */
  overflow: hidden;
  margin: 50px 5px 5px 5px;
}

.imagen img {
    width: 90%;
    height: auto;
}

h2 {
  font-size: 15px;
}

p {
  font-size: 22px;
  padding: 8px;
  text-align: justify;
}

nav {
  background-color: #8db600;
  padding: 1px;
  border-radius: 3px;
}

.botones {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.tresBotones {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#botonesBarNav {
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  font-size: small;
  padding-top: 4px;
}

footer {
  background: #8db600;
}

.iconosRedes {
  text-align: center;
  height: 40px;
  padding: 8px;
  font-size: 22px;
}

.cuadro {
  margin-left: 50px;
  border-style: solid;
}

#imagenArrastrar {
  width: 70px;
  position: absolute;
}

#imagenArrastrar2 {
  width: 70px;
  position: absolute;
}

#parrafoArrastre {
  cursor: grab;
  user-select: none;
  width: 200px;
  position: absolute;
}

.catorce {
  display: flex;
  justify-content: space-around;
}

#cuadroArrastre {
  height: 200px;
}

.cuadroA {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  color: #8db600;
  background-color: rgba(141, 182, 0, 0.5); /* Cambia el último valor (0.5) según el nivel de transparencia deseado */
}
.apareamiento{
display: flex;
justify-content: space-around;
}

.contenedor {
display: flex;
flex-direction: column;

}

.caja {
width: 43px;
height: 12px;
border: 1px solid #000;
margin: 10px;
display: flex;
justify-content: center;
align-items: center;
}

.cajaPalabra {
background-color: #66c2ff;
position: absolute;
transition: opacity 0.3s ease;
cursor: grab
}

.cajaPalabra:nth-child(1) {
  top: 87px;
  left: 50px;
}

.cajaPalabra:nth-child(2) {
  top: 87px;
  left: 150px;
}

.cajaPalabra:nth-child(3) {
  top: 117px;
  left: 103px;
}

.cajaPalabra:nth-child(4) {
  top: 150px;
  left: 50px;
}

.cajaPalabra:nth-child(5) {
  top: 150px;
  left: 150px;
}

.nota{
display: flex;
justify-content: center;
align-items: center;
margin: 10px;
width: 400px;
height: 20px;
border: 1px solid red;
color: red;
font-weight: bolder;

}


.drop-zone {
  position: fixed;
  width: 44px;
  height: 18px;
  border: 2px dashed #000;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-right: -203px;
  font-size: small;
  color: #8db600;
}


/* Estilo adicional para los drop-zones */
.drop-zone:nth-child(1) {
  top: 40%;
  left: 5%;
}

.drop-zone:nth-child(2) {
  top: 241px;
  left: 406px;
}

.drop-zone:nth-child(3) {
  top: 145px;
  left: 296px;
}

.drop-zone:nth-child(4) {
  top: 113px;
  left: 446px;
}

.drop-zone:nth-child(5) {
  top: 216px;
  left: 443px;
}

.error-message {
  color: red;
  font-weight: bold;
}

/* css para ejs apareamiento */
.container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.draggable {
  cursor: grab;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
  position: absolute;
  width: 81px;
}

.draggable:nth-child(1) {
  top: 260px;
  left: 60px;
}

.draggable:nth-child(2) {
  top: 212px;
  left: 60px;
}

.draggable:nth-child(3) {
  top: 166px;
  left: 60px;
}

.draggable:nth-child(4) {
  top: 120px;
  left: 60px;
}

.draggable:nth-child(5) {
  top: 74px;
  left: 60px;
}

.droppable {
  border: 1px dashed #ccc;
  padding: 10px;
  margin-bottom: 5px;
  width: 81px;
}

.hovered {
  background-color: #f0f0f0;
}

.dragging {
  opacity: 0.5;
}


/* estilos DRAG AND DROP */
 .rosa{
  width: 100px;
  height: 100px;
  background-color: #ff0080;
  margin-bottom: 3px;
 }

 .azul{
  width: 100px;
  height: 100px;
  background-color: #1100ff;
  margin-bottom: 3px;
 }

 .morado{
  width: 100px;
  height: 100px;
  background-color: #a509a3;
  margin-bottom: 3px;
 }

 .rosaDrop{
  width: 100px;
  height: 100px;
  border: 3px solid #ff0080;
  background-color: #ccc;
  margin-bottom: 3px;
 }

 .azulDrop{
  width: 100px;
  height: 100px;
  border: 3px solid #1100ff;
  background-color: #ccc;
  margin-bottom: 3px;
 }

 .moradoDrop{
  width: 100px;
  height: 100px;
  border: 3px solid #a509a3;
  background-color: #ccc;
  margin-bottom: 3px;
 }

 .dragD{
  display: flex;
  justify-content: space-around;
  align-items: center;
 }

 /*  estilos drag and drop selectivo */

 .container{
  display: flex;
 }

 .box{
  width: 130px;
  height: 130px;
  border: 3px solid greenyellow;
 }

 /* partes de la flor */

 .imagen{
  position: relative; /* Importante para que los div se posicionen relativos a este contenedor */
  width: 50%;        /* O ajusta al ancho que necesites */
  margin: 0 auto;     /* Centra el contenedor en el centro de la página si lo deseas */
 }

 .imagen img{
  width: 100%;        /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: auto;       /* Mantiene la proporción de la imagen */
 }

 .arrastrable{
  width: 65px;
  height: 20px;
  border: 3px solid red;
  font-size: 16px;
  font-weight: bold;
  cursor: grab
}

 .ubicacion{
  width: 70px;
  height: 25px;
  border: 3px solid black;
  background-color: rgb(10, 235, 51);
  position: absolute; /* Posiciona los divs de manera absoluta dentro del contenedor */
  left: 30%;
  top:67%
  
 }
.ubicacion:nth-child(2) {
  top: 43%;
  left: 14%;
}
.ubicacion:nth-child(3) {
  top: 49%;
  left: 45%;
}
.ubicacion:nth-child(4) {
  top: 30%;
  left: 63%;
}
.ubicacion:nth-child(5) {
  top: 18%;
  left: 46%;
}

.contenedorPalabras{
  display: flex;
  justify-content: space-around;
}

/* estilos flip */

.flip{
  background: #be2edd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}

label{
  position: absolute;
  display: block;
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  perspective: 1000px;
  transform-style: preserve-3d;

}

.card{
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  z-index: 20;
  transition: all 600ms;
}

.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../images/grisly.jpg');
  background-size: cover ;
  text-align: center;
  line-height: 200px;
  backface-visibility: hidden;

}

.card .back{
  background: url('../images/osiris.jpg');
  background-size: cover;
  color: #fff;
  transform: rotateX(180deg);
}

label:hover .card{
  transform: rotateX(20deg);
  box-shadow: 0 21px 21px rgba(50, 50, 50, .4);
}

input{
  display: none;
}

#flip-checkbox:checked + label .card{
  transform: rotateX(180deg);
}

label:hover #flip-checkbox:checked + .card{
  transform: rotateX(160deg);
  box-shadow: 0 20px 20px rgba(50, 50, 50, 0.4);
}

/* estilos sliders con animacion */

.pCards{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.bodySliders{
  background: url("../images/lenguajes-programacion.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #3d3d3d
}

.contenedorCards{
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #000;
  width: 800px;
  height: 550px;
  position: relative;
}

.card{
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
  width: 600px;
  height: 390px;
  top: 45px;
  left: 100px;
  padding: 20px;
  text-align: center;
}

.headerSliders{
  border-bottom: 1px solid #3d3d3d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}
.card h1{
margin-bottom: 10px;
}

.card p{
  text-align: left;
  margin-bottom: 18px;
}
/* esta clase .aparecer se agregara dinamicamente */
.aparecer{
  position: absolute;
  animation: .5s aparecer forwards linear;
  animation-delay: .5s;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: scale(.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* esta clase .desaparecer se agregara dinamicamente */
.desaparecer {
  position: absolute;
  animation: .5s desaparecer forwards linear;
}

@keyframes desaparecer {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}

button{
  display: inline-block;
  width: 120px;
  padding: 10px;
  border: 2px solid #3d3d3d;
  cursor:pointer;
  transform-style: preserve-3d ;
  box-shadow: 0 20px 20px rgba(50, 50, 50, 0.4);
}

.selected{
  background-color: #3d3d3d;
  color: #fff;

}

.navegador{
  position: absolute;
  bottom: 30px;
  text-align: center;
  width: 100%;
}

#c0, #c1, #c2{
  opacity: 0;
}

 @media (min-width: 1326px) {

  .titulo{
    font-size: 55px;
  }

  p{
    font-size: 28px;
  }

  /* .imagen img{
    width: 65%;
  } */
  
 }

 @media (min-width: 1600px) {
  /* .imagen img{
    width: 60%;
  } */
 }
