<header>
    <nav>
        <div class="botones">
            <i id="botonesBarNav" class="fa fa-home" aria-hidden="true"></i>
            <div class="tresBotones">
                <i id="botonesBarNav" class="fa fa-reply" aria-hidden="true"></i>
                <i id="botonesBarNav" class="fa fa-list-ol" aria-hidden="true"></i>
                <i id="botonesBarNav" class="fa fa-share" aria-hidden="true"></i>
            </div>

        </div>
       
        
        
    </nav>
</header>