<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    
    <main>
    
    <h2>Tema 1. Bases biológicas de la reproducción sexual
    </h2>
    <h2>La flor está constituida por cuatro partes ,llamadas verticilos, los cuales son hojas modificadas.
    </h2>
    <div class="catorce">
        <div>
            <p>Piezas estériles:
            </p>
            <p>1. Cáliz: conjunto de sépalos.
            </p>
            <p>2. Corola: conjunto de pétalos.
            </p>

        </div>
       
        <img src="../../../images/imagen3.png" width="140px">

    </div>
    <div class="catorce">
        <div>
            <p>Piezas fértiles:
            </p>
            <p>3. Gineceo: Carpelos 1 ó más.
            </p>
            <p>4. Androceo: Conjunto de estambres
            </p>

        </div>
       
        <img src="../../../images/imagen2.jpg" width="140px">

    </div>     
    </main>
    <script src="../../../js/arrastre.js" ></script>
    <%- include('../partials/footer')%>
</body>
</html>