<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    
    <main>
        <h2>OBJETIVOS ESPECÍFICOS</h2>
        <p>*Identificar las estructuras de la flor y los mecanismos de polinización y fecundación.
        </p>
        <p>*Identificar los diferentes sexos que se pueden presentar en las plantas.
        </p>
        <p>*Identificar los tipos de frutos y semillas, así como sus partes.
        </p>
        
    </main>
    <%- include('../partials/footer')%>
</body>
</html>