<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    
    <main>
        <h2>INTRODUCCIÓN</h2>
        <p>Las angiospermas son las plantas más abundantes de la Tierra; se caracterizan por poseer flor  -su órgano reproductor sexual-.

            La reproducción sexual en las plantas se realiza mediante la formación de células especializadas -llamadas gametos: masculino (polen) y femenino (óvulo)- de cuya fusión, reconocida como singamia, resulta un cigoto. Posteriormente, de este cigoto se origina un embrión (éste se encuentra dentro de la semilla, y ésta a su vez se encuentra encapsulada en un fruto), el cual dará origen a una nueva planta.
            
            Para su estudio, esta unidad se ha dividido en tres temas: el primero, se refiere a las Bases biológicas de la reproducción sexual; el segundo, comprende aspectos relacionados con la sexualidad de las plantas; y el tercero, abarca los conceptos sobre el fruto y la semilla. Recuerde consultar en la plataforma las actividades de aprendizaje y recursos para ampliar la información.
            </p>
       
    </main>
    <%- include('../partials/footer')%>
</body>
</html>