<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    
    <main>
        <h2>actividad de arrastre AQUI!!!</h2>
        <p>La flor es el órgano sexual de las plantas. Hay muchos tipos de flores, pero todas tienen una organización parecida.</p>
       
    </main>
    <%- include('../partials/footer')%>
</body>
</html>