<!-- archivo: views/tu_pagina.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    
    <main>
        <h2>IDENTIFICAR LAS ESTRUCTURAS DE LA FLOR</h2>
        <p>La flor es el órgano sexual de las plantas. Hay muchos tipos de flores, pero todas tienen una organización parecida.</p>
        <div class="apareamiento">
            <div class="contenedor">
                <div class="caja cajaPalabra" data-index="1">
                  <p>Sépalo</p>
                </div>
                <div class="caja cajaPalabra" data-index="2">
                  <p>Óvulos</p>
                </div>
            
                <div class="caja cajaPalabra" data-index="3">
                  <p>Estambre</p>
                </div>
            
                <div class="caja cajaPalabra" data-index="4">
                  <p>Pistilo</p>
                </div>
            
                <div class="caja cajaPalabra" data-index="5">
                  <p>Pétalo</p>
                </div>
            </div>
            <div class="drop-zone" data-target="1"></div>
            <div class="drop-zone" data-target="2"></div>
            <div class="drop-zone" data-target="3"></div>
            <div class="drop-zone" data-target="4"></div>
            <div class="drop-zone" data-target="5"></div>
            <img src="../../../images/flor.png" alt="flor" width="200px">
        </div>
        <div class="nota">
            <p>Para lograr la actividad, arrastre las palabras hasta la estructura anatómica correspondiente.</p>
        </div>
    </main>
    <script src="../../../js/arrastreD9.js"></script>
    <%- include('../partials/footer')%>
</body>
</html>
