<!-- archivo: views/tu_pagina.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    
    <main>
      <div>
        <h1 class="titulo">Identifica las partes de la flor</h1>
       </div>
    <div class="contenido">
        <p>En el contexto botánico, la flor se considera el órgano reproductor de las plantas. Aunque existen diversos tipos de flores, todas presentan una estructura organizativa similar.
        </p>
    </div>
   <div class="imagen">
    <img src="../../../images/partes_flor.png">
    <div class="ubicacion" id="0" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div class="ubicacion" id="1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div class="ubicacion" id="2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div class="ubicacion" id="3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div class="ubicacion" id="4" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  </div>
  <div class="contenedorPalabras">
    <div>
      <p class="arrastrable" draggable="true" ondragstart="drag(event)" id="Pistilo">Pistilo</p> 
      </div>
      <div>
      <p class="arrastrable" draggable="true" ondragstart="drag(event)" id="Estambre">Estambre</p> 
      </div>
      <div>
      <p class="arrastrable" draggable="true" ondragstart="drag(event)" id="Petalo">Pétalo</p> 
      </div>
      <div>
      <p class="arrastrable" draggable="true" ondragstart="drag(event)" id="Ovulo">Óvulo</p> 
       </div>
       <div>
      <p class="arrastrable" draggable="true" ondragstart="drag(event)" id="Sepalo">Sépalo</p> 
      </div>
  </div>
     
   

   
    </main>
    <script src="../../../js/arrastreD9.js"></script>
    <%- include('../partials/footer')%>
</body>
</html>
