<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    
    <main>
        <h2>actividad de arrastre AQUI!!!</h2>
        <p>En esta unidad, usted encontrará las bases de la multiplicación sexual.  Se le invita a realizar un recorrido por un semillero virtual para acceder a la actividad.
        </p>
       
    </main>
    <%- include('../partials/footer')%>
</body>
</html>