<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
<%- include('../partials/header')%>

<main>
  <p id="parrafoArrastre">Tenga en cuenta …en  la flor tienen lugar los procesos esenciales de la reproducción sexual de las plantas, estos son la meiosis y la fecundación. 
  </p>
  <img id="imagenArrastrar" src="../../../images/planta.png" alt="Imagen para arrastrar">
  <img id="imagenArrastrar2" src="../../../images/planta.jpg" alt="Imagen para arrastrar2">
</main>

<div id="cuadroArrastre" class="mensaje-emergente">
  <div class="cuadroA"></div>
</div>
<script src="../../../js/arrastreD13.js"></script>
<%- include('../partials/footer')%>
</body>
</html>
