<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body class="flip">
    <%- include('../partials/header')%>
    <main>
        <h2>FLIP CARD</h2>
        <input type="checkbox" id="flip-checkbox">
        <label for="flip-checkbox">
            <div class="card">
                <div class="front">FRONT</div>
                <div class="back">BACK</div>
            </div>
        </label>
           

    </main>
    <%- include('../partials/footer')%>
</body>
</html>