<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    
    <main>
        <div>
            <h1 class="titulo">INTRODUCCIÓN</h1>
           </div>
        <div class="contenido">
            <p>¡Bienvenidos al curso de Propagación de Plantas! Al adentrarnos en este apasionante tema, es fascinante reconocer que nuestra historia agrícola tiene raíces profundas, remontándonos a unos 10.000 años atrás. En ese entonces, las primeras comunidades humanas dieron un giro trascendental al dejar la vida nómada para explorar y domesticar diversas plantas, marcando así el inicio de lo que hoy conocemos como propagación de cultivos. Esta especialidad agronómica nos sumerge en el intrigante mundo de cómo las plantas se reproducen y multiplican, ya sea de manera natural o con ayuda humana. A lo largo de este módulo, nos enfocaremos en comprender tanto los principios biológicos y botánicos fundamentales como las innovadoras técnicas desarrolladas para perfeccionar este proceso. Dispondrán de recursos, documentos y actividades para enriquecer su aprendizaje en esta travesía botánica. ¡Comencemos juntos este viaje educativo!
            </p>
        </div>
       <div class="imagen">
        <img src="../../images/HD-wallpaper-green-leaf-plant-on-white-background.jpg">
       </div>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>