<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <h1 class="titulo">Bienvenidos al curso</h1>
    <main>
        <p>Organizador gráfico del Curso..........(Aqui va cuadro de temas)</p>
        <img src="../../images/HD-wallpaper-green-leaf-plant-on-white-background.jpg" width="200px">
    </main>
    <%- include('../partials/footer')%>
</body>
</html>