<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    
    <main>
        <h2>INTRODUCCIÓN</h2>
        <p>La propagación  de cultivos, por acción del hombre, es una práctica que se aprendió hace unos 10.000 años, cuando nuestros antepasados comenzaron a domesticar las especies vegetales y se convirtieron -de recolectores nómadas- a agricultores sedentarios. 

            La propagación de plantas se dedica al estudio de su reproducción y multiplicación, de forma natural o artificial, y se ha convertido en una práctica primordial en el campo de las ciencias agrícolas, ya que de la calidad del material de propagación sexual o asexual que se utilice, va a depender el resto del proceso productivo del cultivo. 
            
            Por lo tanto, durante el desarrollo de este módulo se trabajarán dos aspectos fundamentales para los profesionales del sector  agrario: los principios biológicos, botánicos y fisiológicos comprometidos en la reproducción y multiplicación de plantas; y por otra parte, las técnicas y tecnologías que han sido desarrollado por el hombre, para favorecer este proceso.
            
            Tenga en cuenta que durante su desarrollo encontrará documentos de apoyo, actividades de aprendizaje y recursos que le servirán para ampliar los conceptos.
            </p>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>