<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <h1 class="titulo">Bienvenidos al curso</h1>
    <main>
        <h2>INTRODUCCIÓN</h2>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>