<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    
    <main>
        <h2>INTRODUCCIÓN</h2>
            <p>La propagación de plantas desempeña un papel fundamental en la historia de la agricultura y la supervivencia de la humanidad. Esta práctica ancestral evolucionó cuando nuestros antepasados dejaron de ser nómadas para convertirse en agricultores. En este módulo, exploraremos dos aspectos esenciales de la propagación.</p>
            
            <p>En primer lugar, analizaremos los principios biológicos, botánicos y fisiológicos detrás de la reproducción y multiplicación de plantas, tanto de forma natural como artificial. Comprender estos procesos naturales, como la polinización y la germinación, es fundamental.</p>

            <p>En segundo lugar, examinaremos las técnicas y tecnologías desarrolladas por el ser humano para mejorar y acelerar la propagación de plantas. A lo largo del curso, se presentarán métodos avanzados y herramientas que permiten a los profesionales del sector agrario, estudiantes y cualquier interesado en propagar plantas, optimizar la propagación.
            A medida que avancen, encontrarán documentos de apoyo, actividades de aprendizaje y recursos para ampliar su conocimiento. La propagación de plantas une la tradición agrícola con la innovación científica y tecnológica, y su dominio contribuirá al éxito y la sostenibilidad de la agricultura en el futuro.</p>
            
    </main>
    <%- include('../partials/footer')%>
</body>
</html>