<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <main>
        <h2>OBJETIVOS ESPECIFICOS</h2>
            <p>Establecer las bases biológicas de la multiplicación sexual de los vegetales, conociendo la anatomía y entendiendo la fisiología de las estructuras comprometidas.
 
        Identificar las técnicas necesarias para la activación de la germinación de semillas.
        
        Adquirir habilidades en las técnicas de propagación asexual en las plantas. 
         
        Identificar las diferentes técnicas que se emplean en el cultivo de tejidos para la propagación de las plantas, sus usos y aplicaciones.
        </p>
        <h2>UNIDADES DE COMPETENCIAS</h2>
        <p>Reconoce los mecanismos biológicos, anatómicos y fisiológicos comprometidos en reproducción sexual de plantas

            Aplica procedimientos técnicos y tecnológicos para la  germinación de semillas a través de actividades de campo.
            
            Manipula las técnicas aplicadas para la propagación asexual de plantas a partir de actividades de campo. 
            
            Implementa las técnicas de cultivo de tejidos vegetales para el incremento de la producción de plantas de interés agronómico.
            </p>

    </main>
    <%- include('../partials/footer')%>
</body>
</html>