<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
   
    <main>
        <h2>OBJETIVO GENERAL</h2>
        <p>Distinguir las técnicas de multiplicación y reproducción de plantas en  especies de importancia agrícola a través de la fundamentación teórica.
        </p>
        <h2>UNIDADES DE LA COMPETENCIA</h2>
        <p>Aplica fundamentos y técnicas de multiplicación y reproducción vegetal en  especies de importancia agrícola  a través de prácticas aplicadas en el entorno.
        </p>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>