<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body class="popUpModal">
        <h1>VENTANA "MODAL"</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi consequatur fugiat nam sint saepe nesciunt dolorem dolorum libero facilis quas excepturi, iusto, reiciendis voluptatibus dignissimos repellendus. Inventore ducimus vel eius.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum ipsum a repellendus debitis iste nemo magni quas delectus dolorum, esse aliquid fuga soluta ipsa quidem, itaque deserunt iure facere aliquam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, assumenda mollitia? Cumque quas aliquid molestias rerum nemo sunt fuga voluptatibus exercitationem tenetur asperiores? Accusantium consequuntur consectetur unde. Esse, sint corrupti?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro nobis consequatur quidem blanditiis velit hic eaque harum illo ea perspiciatis non, necessitatibus deleniti ipsum quasi a totam, quibusdam dolorum adipisci!</p>
        <button id="btnAbrirModal">Abrir Modal</button>

        <dialog id="modal">
            <h2>Hola, soy un Modal!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, assumenda mollitia? Cumque quas aliquid molestias rerum nemo sunt fuga voluptatibus exercitationem tenetur asperiores? Accusantium consequuntur consectetur unde. Esse, sint corrupti?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro nobis consequatur quidem blanditiis velit hic eaque harum illo ea perspiciatis non, necessitatibus deleniti ipsum quasi a totam, quibusdam dolorum adipisci!</p>
            <button id="btnCerrarModal">Cerrar Modal</button>
        </dialog>
    <script src="../../../js/popUp.js"></script>
</body>
</html>